doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='container-fluid position-absolute wallpaper-container')
      div(class='container-fluid wallpaper-red')
      div(class='position-absolute top-50 translate-middle-y wallpaper-black')
        div(class='position-absolute top-50 start-50 translate-middle wallpaper-circle-outer')
          div(class='position-absolute top-50 start-50 translate-middle wallpaper-circle-inner')
    div(class='navbar navbar-expand-lg bg-body-tertiary')
      div(class='container-fluid navbar-navigation')
        strong
          a(class='navbar-brand' href='/pokedex') Pokedex
        ul(class='navbar-nav me-auto mb-0')
          li(class='nav-item')
            strong
              a(class='nav-link' href='/pokedex/pokemons') Pokemons
          li(class='nav-item')
            strong
              a(class='nav-link' href='/pokedex/types') Types
    hr(style='margin: 0')
    div(class='container-fluid content-container row')
      block content
          