extends layout

block content
  h1= title
  - const columns = 6
  - const columnDefaultHeight = 5
  - const columnHeight = (typeList.length < columnDefaultHeight * columns) ? columnDefaultHeight : Math.ceil(typeList.length / columns)
  - for (let i = 0; i <= typeList.length / columnHeight; i++) {
    div(class='col-2' style='margin-top: 1rem; line-height: 2rem')
      ul
        - let columnArray = typeList.slice((i * columnHeight), ((i + 1) * columnHeight))
        each type in columnArray
          li
            a(href=type.url) #{type.name}

        if typeList.length === 0
          li There are no types.
  - }
