extends layout

block content
  h1= title

  a(href='/pokedex/type/create' style='margin: 20px auto 20px 20px') #[strong Create new Type]

  - const columns = 6
  - const columnDefaultHeight = 5
  - const columnHeight = (types.length < columnDefaultHeight * columns) ? columnDefaultHeight : Math.ceil(types.length / columns)

  - for (let i = 0; i <= types.length / columnHeight; i++) {
    div(class='col-2' style='line-height: 2rem; margin-left: 20px')
      ul
        - let columnArray = types.slice((i * columnHeight), ((i + 1) * columnHeight))
        each type in columnArray
          li
            a(href=type.url) #{type.name}

        if types.length === 0
          li There are no types.
  - }
